ul, li, a {
    list-style-type: none;
    float: left;
    clear: left;
    padding: 0px;
    margin: 0px;
}

    ul > li a {
        color: #373737;
        text-decoration: none;
        display: block;
    }

        ul > li a:hover {
            text-decoration: underline;
        }

    ul.sub1 a:hover {
        text-decoration: none;
        font-size: 100%;
    }

    ul.sub2 a:hover {
        text-decoration: none;
        font-size: 100%;
        color: #868686;
    }

    ul.sub3 a:hover {
        text-decoration: none;
        font-size: 80%;
        font-weight: bold;
    }

.sub, .sub1, .sub2, .sub3 {
    display: none;
}

    .sub a {
        font-size: 90%;
        padding-left: 10px;
        color: #a9a9a9;
    }

    .sub1 a, .sub2 a, .sub3 a {
        font-size: 90%;
        padding-left: 10px;
        color: #ff6a00;
    }

div li:hover > ul.sub, div li:hover > ul.sub1, div li:hover > ul.sub2, div li:hover > ul.sub3 {
    display: block;
}


      
